/* generated with grunt-sass-globbing */
/* generated with grunt-sass-globbing */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

audio,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button::-moz-focusring,
[type='button']::-moz-focusring,
[type='reset']::-moz-focusring,
[type='submit']::-moz-focusring {
  outline: 1px dotted ButtonText; }

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

template,
[hidden] {
  display: none; }

abbr,
blockquote,
code,
kbd,
q,
samp,
tt,
var {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

[tabindex='-1']:focus {
  outline: none !important; }

::-moz-selection {
  background: #330000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #330000;
  color: #fff;
  text-shadow: none; }

* {
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@media print {
  * {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }
  @page {
    margin: 2cm; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
  line-height: 1.5;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  background-color: #330000;
  color: #000;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

@media print {
  nav {
    display: none; } }

summary {
  display: list-item; }

iframe {
  border: 0; }
  @media print {
    iframe {
      display: none; } }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 700;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1.3;
  margin: 0 0 1rem;
  text-rendering: optimizeLegibility; }
  @media print {
    h1, h2, h3, h4, h5, h6 {
      orphans: 3;
      page-break-after: avoid;
      widows: 3; }
      h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
        display: inline-block; } }
  * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 1em; }

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.75em; }

h6 {
  font-size: 0.65em;
  font-weight: 400;
  text-transform: uppercase; }

h1 + h1, h2 + h1, h3 + h1, h4 + h1, h5 + h1, h6 + h1, h1 + h2, h2 + h2, h3 + h2, h4 + h2, h5 + h2, h6 + h2, h1 + h3, h2 + h3, h3 + h3, h4 + h3, h5 + h3, h6 + h3, h1 + h4, h2 + h4, h3 + h4, h4 + h4, h5 + h4, h6 + h4, h1 + h5, h2 + h5, h3 + h5, h4 + h5, h5 + h5, h6 + h5, h1 + h6, h2 + h6, h3 + h6, h4 + h6, h5 + h6, h6 + h6 {
  margin-top: 0; }

p {
  margin: 0 0 1rem; }
  @media print {
    p {
      orphans: 3;
      widows: 3; } }

a {
  background-color: transparent;
  color: #330000;
  outline-offset: 0.1em;
  text-decoration: underline;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline: 0; }
  a:hover, a:focus {
    color: #330000;
    text-decoration: none; }
  @media print {
    a, a:visited {
      text-decoration: none; }
    a[href]::after {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      content: " <" attr(href) ">";
      font-size: 10pt;
      font-weight: normal;
      text-transform: lowercase; }
    a[href^='javascript:']::after, a[href^='mailto:']::after, a[href^='tel:']::after, a[href^='#']::after, a[href*='?']::after {
      content: ''; } }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

abbr:hover {
  cursor: help; }

@media print {
  abbr[title]::after {
    content: " (" attr(title) ")"; } }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 0.75em; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

blockquote {
  margin: 0 1.5em 1rem; }
  blockquote cite {
    display: block;
    margin-top: 0.5em; }
    blockquote cite:before {
      content: "\2013";
      margin-right: 0.5em; }
  @media print {
    blockquote {
      page-break-inside: avoid; } }

pre {
  margin: 0 0 1rem;
  overflow: auto; }
  @media print {
    pre {
      page-break-inside: avoid; } }

hr {
  border: 1px solid #999;
  border-bottom: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  margin: 1rem 0;
  padding-bottom: -1px; }

ul {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 1.2em; }
  [dir='rtl'] ul {
    padding: 0 1.2em 0 0; }
  ul ol,
  ul ul {
    margin: 0.5rem 0 0; }

ol {
  margin: 0 0 1rem;
  padding: 0 0 0 1.5em; }
  [dir='rtl'] ol {
    padding: 0 1.5em 0 0; }
  ol ol,
  ol ul {
    margin: 0.5rem 0 0; }

li {
  margin-bottom: 0.5rem; }
  li:last-child {
    margin-bottom: 0; }
  @media print {
    li {
      page-break-inside: avoid; } }

dd {
  margin-bottom: 1rem; }

dl {
  margin: 0 0 1rem; }

caption {
  margin-bottom: 0.5rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  min-width: 100%; }

td {
  background-color: #ffffff;
  border: 1px solid #5b616b;
  padding: 0.75rem; }

tfoot td,
tfoot th {
  background-color: #f1f1f1; }

th {
  background-color: #ffffff;
  border: 1px solid #5b616b;
  padding: 0.75rem;
  text-align: left; }

@media print {
  thead {
    display: table-header-group; } }

thead td,
thead th {
  background-color: #f1f1f1; }

@media print {
  tr {
    page-break-inside: avoid; } }

button {
  overflow: visible; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

input {
  line-height: normal; }

legend {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  margin: 0;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

optgroup {
  font-weight: bold; }

textarea {
  overflow: auto; }

audio:not([controls]) {
  display: none;
  height: 0; }

canvas {
  display: inline-block; }

figure {
  margin: 0 0 1rem; }

img {
  border: 0;
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }
  @media print {
    img {
      max-width: 100% !important;
      page-break-inside: avoid; } }

svg:not(:root) {
  overflow: hidden; }

.breadcrumb__title, .form-item__checkbox {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal; }

.menu--mobile .menu__link, .mobile-menu__button, .tabs__link, .skiplinks {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Open Sans", "Helvetica Neue", sans-serif; }

html, .button, .tabs__link {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva,Verdana", sans-serif; }

/* generated with grunt-sass-globbing */
.l-constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1em;
  padding-right: 1em; }
  .l-constrain .l-constrain {
    padding-left: 0;
    padding-right: 0; }

.l-constrain--no-padding {
  padding-left: 0;
  padding-right: 0; }

.l-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .l-grid > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc((100%) - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    min-width: 0; }
  @supports (display: grid) {
    .l-grid {
      margin-left: 0;
      margin-right: 0;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2em;
      display: grid; }
      .l-grid > * {
        margin: 0;
        min-width: 0;
        width: 100%; } }

.l-grid--2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .l-grid--2col > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc((100%) - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    min-width: 0; }
  @supports (display: grid) {
    .l-grid--2col {
      margin-left: 0;
      margin-right: 0;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2em;
      display: grid; }
      .l-grid--2col > * {
        margin: 0;
        min-width: 0;
        width: 100%; } }
  @media (min-width: 37.5em) {
    .l-grid--2col > * {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: calc((50%) - 2em);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      min-width: 275px; }
    @supports (display: grid) {
      .l-grid--2col {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em; }
        .l-grid--2col > * {
          margin: 0;
          min-width: 0;
          width: 100%; } } }

.l-grid--3col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .l-grid--3col > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc((100%) - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    min-width: 0; }
  @supports (display: grid) {
    .l-grid--3col {
      margin-left: 0;
      margin-right: 0;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2em;
      display: grid; }
      .l-grid--3col > * {
        margin: 0;
        min-width: 0;
        width: 100%; } }
  @media (min-width: 47.5em) {
    .l-grid--3col > * {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: calc((33.3333333333%) - 2em);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      min-width: 275px; }
    @supports (display: grid) {
      .l-grid--3col {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em; }
        .l-grid--3col > * {
          margin: 0;
          min-width: 0;
          width: 100%; } } }

.l-grid--4col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .l-grid--4col > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc((100%) - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    min-width: 0; }
  @supports (display: grid) {
    .l-grid--4col {
      margin-left: 0;
      margin-right: 0;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2em;
      display: grid; }
      .l-grid--4col > * {
        margin: 0;
        min-width: 0;
        width: 100%; } }
  @media (min-width: 37.5em) and (max-width: 50em) {
    .l-grid--4col > * {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: calc((50%) - 2em);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      min-width: 275px; }
    @supports (display: grid) {
      .l-grid--4col {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em; }
        .l-grid--4col > * {
          margin: 0;
          min-width: 0;
          width: 100%; } } }
  @media (min-width: 50.0625em) {
    .l-grid--4col > * {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: calc((25%) - 2em);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      min-width: 0; }
    @supports (display: grid) {
      .l-grid--4col {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2em; }
        .l-grid--4col > * {
          margin: 0;
          min-width: 0;
          width: 100%; } } }

.l-grid--6col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .l-grid--6col > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc((100%) - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    min-width: 0; }
  @supports (display: grid) {
    .l-grid--6col {
      margin-left: 0;
      margin-right: 0;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2em;
      display: grid; }
      .l-grid--6col > * {
        margin: 0;
        min-width: 0;
        width: 100%; } }
  @media (min-width: 37.5em) and (max-width: 62.4375em) {
    .l-grid--6col > * {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: calc((33.3333333333%) - 2em);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      min-width: 0; }
    @supports (display: grid) {
      .l-grid--6col {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em; }
        .l-grid--6col > * {
          margin: 0;
          min-width: 0;
          width: 100%; } } }
  @media (min-width: 62.5em) {
    .l-grid--6col > * {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: calc((16.6666666667%) - 2em);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      min-width: 0; }
    @supports (display: grid) {
      .l-grid--6col {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2em; }
        .l-grid--6col > * {
          margin: 0;
          min-width: 0;
          width: 100%; } } }

.l-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 37.5em) {
    .l-media {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.l-media__object {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 1rem 0 0; }

.l-media__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

.l-media--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.l-media--reversed > .l-media__object {
  margin: 0 0 0 1rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.l-content {
  background-color: #dcd2c7;
  padding-bottom: 40px;
  padding-top: 40px; }

.l-header {
  background-color: #330000; }
  .l-header .l-constrain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.l-header .menu--main {
  display: none; }
  @media (min-width: 43.75em) {
    .l-header .menu--main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.l-section {
  margin-bottom: 2em; }

.l-sidebar .l-sidebar__sidebar {
  background-color: #dcd2c7; }

@media (min-width: 63.75em) {
  .l-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .l-sidebar > * {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -ms-flex-preferred-size: calc(100% - 500px - 2rem);
          flex-basis: calc(100% - 500px - 2rem); }
    .l-sidebar .l-sidebar__main {
      max-width: calc(100% - 500px - 2rem); }
    .l-sidebar .l-sidebar__full {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-right: 0; }
    .l-sidebar .l-sidebar__main {
      padding: 0px; }
    .l-sidebar .l-sidebar__sidebar {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 500px;
          flex-basis: 500px;
      padding: 30px;
      min-height: calc(100vh - 71px); } }

.archive .l-sidebar__main,
.search .l-sidebar__main {
  background-color: #fff; }

.sidebar-title {
  background-color: #330000;
  color: #fff;
  display: inline-block;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 5px; }

@media (min-width: 63.75em) {
  .l-sidebar--multi-2 > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: calc(100% - 1000px - 3rem);
        flex-basis: calc(100% - 1000px - 3rem); }
  @supports (display: grid) {
    .l-sidebar--multi-2 {
      grid-template-columns: 500px 1fr 500px; }
      .l-sidebar--multi-2 .l-sidebar__full {
        grid-column: span 3; } } }

/* generated with grunt-sass-globbing */
.error404 {
  text-align: center; }
  .error404 .l-content {
    min-height: 80vh; }
    .error404 .l-content .page-title {
      color: #330000; }
    .error404 .l-content a {
      color: #000; }

.aligncenter {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }

.alignleft {
  max-width: 100%; }

.alignleft {
  float: none;
  margin: 0; }

@media (min-width: 43.75em) {
  .alignleft {
    float: left;
    margin: 0 1em 1em 0; } }

.alignright {
  max-width: 100%; }

.alignright {
  float: none;
  margin: 0; }

@media (min-width: 43.75em) {
  .alignright {
    float: right;
    margin: 0 0 1em 1em; } }

.cbp-vm-view-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .cbp-vm-view-grid hr {
    display: none; }
  .cbp-vm-view-grid .image-teaser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin-bottom: 70px; }
    .cbp-vm-view-grid .image-teaser .l-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .cbp-vm-view-grid .image-teaser .l-media__object {
      margin: 0 auto;
      margin-bottom: 30px; }
    .cbp-vm-view-grid .image-teaser .image-teaser__title {
      font-size: 18px;
      max-width: 188px;
      text-align: center; }
    .cbp-vm-view-grid .image-teaser .image-teaser__summary {
      display: none; }

.taxonomy-info .story-link {
  position: relative;
  margin-bottom: 30px; }
  .taxonomy-info .story-link::before {
    background-color: rgba(51, 0, 0, 0.3);
    content: '';
    position: absolute;
    height: 100%;
    width: 100%; }

.taxonomy-info .story-collection-link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  top: 50%; }

.taxonomy-info .collection-summary span {
  font-weight: bold; }

.post-type-archive-archive .l-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  @media (min-width: 37.5em) {
    .post-type-archive-archive .l-sidebar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  .post-type-archive-archive .l-sidebar .l-sidebar__sidebar {
    width: 100%; }
    @media (min-width: 37.5em) {
      .post-type-archive-archive .l-sidebar .l-sidebar__sidebar {
        width: auto; } }

.facetwp-counts {
  display: inline-block; }

.facetwp-counter {
  display: none; }

.facetwp-selections {
  display: inline-block; }
  .facetwp-selections .facetwp-selection-label {
    display: none; }
  .facetwp-selections .facetwp-selection-value {
    font-weight: bold; }
  .facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 0px; }

.facetwp-template {
  margin-left: 30px;
  margin-right: 30px; }

.facetwp-checkbox {
  background-image: url("/wp-content/themes/slsc/images/checkobx.png") !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.facetwp-checkbox.checked {
  background-image: url("/wp-content/plugins/facetwp/assets/images/checkbox-on.png") !important; }

.arhcive-filters {
  background-color: #fff;
  padding: 20px; }
  .arhcive-filters h2 {
    color: #330000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold; }
    @media (min-width: 50em) {
      .arhcive-filters h2 {
        font-size: 40px; } }

.facetwp-sort {
  margin-right: 40px; }

.facetwp-sort-select {
  background-color: transparent;
  border: none; }

.home .l-sidebar__main {
  background-color: #dcd2c7;
  position: relative;
  padding-left: 0px;
  padding-right: 0px; }

.home .l-sidebar__sidebar {
  background-color: #fff;
  padding-top: 40px; }
  @media (min-width: 37.5em) {
    .home .l-sidebar__sidebar {
      padding-top: 30px; } }

.frontpage__content {
  background-color: #dcd2c7;
  color: #fff;
  position: relative; }

.fontpage__intro {
  font-size: 24px;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .fontpage__intro {
      font-size: 28px; } }

.get-involved__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px; }
  @media (min-width: 37.5em) {
    .get-involved__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .get-involved__item h3 {
    max-width: 275px; }

.get-involved--image {
  width: 100%; }
  @media (min-width: 37.5em) {
    .get-involved--image {
      margin-right: 16px;
      width: 230px; } }

.get-involved--link {
  text-align: center; }

.get-involved__content {
  margin-bottom: 40px; }

.admin-bar .sticky-active {
  top: 32px !important; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.search .page-title {
  color: #000; }

.search .arhcive-filters {
  height: 100%; }

.single-archive .l-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  @media (min-width: 50em) {
    .single-archive .l-sidebar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

.single-archive .l-sidebar__sidebar {
  background-color: #fff;
  padding: 0px; }

.single-archive .l-sidebar__main {
  background-color: #000;
  margin-left: 0px; }

@media (min-width: 50em) {
  .single-archive {
    padding-left: 1rem; }
    .single-archive .pdfemb-viewer {
      margin: 0 auto;
      margin-top: 40px; } }

.single-archive-sidebar__content {
  padding: 40px; }

.back-button {
  background-color: #efefef;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 40px;
  text-transform: uppercase; }

.single-archive__title {
  color: #330000;
  font-size: 40px;
  font-weight: bold; }

.single-archive-description {
  margin-bottom: 40px; }

.single-archive__topics {
  margin-bottom: 40px; }

.single-archive__metadata span {
  font-weight: bold; }

.single-archive__type {
  text-transform: capitalize; }

.single-archive__provenance {
  margin-bottom: 40px; }
  .single-archive__provenance span {
    font-weight: bold; }

.single-get_involved .l-sidebar__sidebar {
  background-color: #fff;
  padding: 0px; }

.single-get_involved .l-sidebar__main {
  background-color: #dcd2c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0px;
  padding-left: 1rem;
  padding-top: 40px; }
  @media (min-width: 56.25em) {
    .single-get_involved .l-sidebar__main iframe {
      height: 500px;
      width: 800px; } }

.single-story .main {
  background-color: #dcd2c7; }

.single-story .cd-timeline-img {
  -webkit-box-shadow: none;
          box-shadow: none; }
  .single-story .cd-timeline-img span::before {
    display: none; }

.story-content {
  padding-bottom: 100px;
  padding-top: 100px; }

.story__subtitle {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  line-height: initial;
  margin-bottom: 20px;
  text-transform: uppercase; }

.timeline__item iframe {
  max-width: 100%; }

.timeline:not(.timeline--horizontal):before {
  background-color: #fff; }

.timeline__item:after {
  background-color: #000;
  border: 4px solid #000;
  height: 40px;
  right: -20px;
  width: 40px; }

.sticky {
  display: block; }

.story-title {
  background-color: #330000;
  display: inline-block;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 5px; }

.swiper-container {
  padding: 20px;
  padding-top: 0px; }
  @media (min-width: 37.5em) {
    .swiper-container {
      padding: 40px; } }

.swiper-wrapper {
  margin-bottom: 40px; }

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100% !important; }

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  border-radius: 50%;
  height: 105px;
  width: 105px; }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: #000; }

.swiper-slide {
  width: 100%; }

.swiper-slide__image {
  position: relative; }
  .swiper-slide__image::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(51, 0, 0, 0.3); }

.swiper-slide__content {
  background-color: #fff;
  padding: 20px; }

.swiper-title {
  color: #330000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  z-index: 2; }
  @media (min-width: 37.5em) {
    .swiper-title {
      font-size: 48px; } }

.swiper-button {
  z-index: 2;
  margin-bottom: 40px; }

.swiper-pagination {
  position: absolute;
  bottom: 80px !important; }

.swiper-pagination-bullet-active {
  background: #fff; }

.swiper-button-disabled {
  display: none; }

.wp-caption {
  max-width: 100%; }
  .wp-caption .wp-caption-text {
    max-width: 100%; }

.archive-toolbar {
  background-color: #efefef;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px; }
  @media (min-width: 50em) {
    .archive-toolbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 30px;
      margin-bottom: 30px; } }
  @media (min-width: 75em) {
    .archive-toolbar {
      margin-right: 0px;
      margin-left: 0px; } }
  .archive-toolbar .archive-toolbar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    @media (min-width: 50em) {
      .archive-toolbar .archive-toolbar__info {
        margin-bottom: 0px; } }
  .archive-toolbar .selection-title {
    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold; }
  .archive-toolbar .archive-toolbar__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .archive-toolbar .cbp-vm-options a {
    display: inline-block;
    width: 25px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap; }
  .archive-toolbar .cbp-vm-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .archive-toolbar .cbp-vm-grid {
    margin-right: 30px; }

.article footer {
  padding-bottom: 1rem; }

.breadcrumb {
  margin: 1rem 0; }
  .breadcrumb::after {
    clear: both;
    content: '';
    display: table; }

.breadcrumb__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  .breadcrumb__list > li {
    display: inline; }

.breadcrumb__item {
  font-size: 15px;
  margin-right: 0.25em; }
  .breadcrumb__item::after {
    content: '/';
    margin-left: 0.25em; }
  .breadcrumb__item:last-child::after {
    content: '';
    margin-left: 0; }

.breadcrumb__link {
  text-decoration: none; }

.button {
  background-color: #330000;
  border: 1px solid #330000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: 0.6rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: normal;
  margin: 0 0 0.5em; }
  .button:focus, .button:hover {
    background-color: #fff;
    border: 1px solid #330000;
    color: #330000;
    outline: 0;
    text-decoration: none; }
  .button:active {
    background-color: #112e51;
    color: #fff; }
  .button[disabled] {
    background-color: #d6d7d9;
    color: #323a45;
    cursor: default;
    pointer-events: none; }
  [dir='rtl'] .button + .button {
    margin-left: 0;
    margin-right: 0.5em; }

.button--danger {
  background-color: #fff;
  border: 1px solid #fff;
  color: #330000; }
  .button--danger:focus, .button--danger:hover {
    background-color: #330000;
    color: #fff; }
  .button--danger:active {
    background-color: #981b1e;
    color: #fff; }

.button--large {
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.75rem 1.5rem; }

.button--secondary {
  background-color: #5b616b;
  color: #fff; }
  .button--secondary:focus, .button--secondary:hover {
    background-color: #323a45;
    color: #fff; }
  .button--secondary:active {
    background-color: #212121;
    color: #fff; }

.button--small {
  font-size: 0.75rem;
  line-height: 1.1333333333;
  padding: 0.4rem 0.8rem; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 1rem; }

.card__content {
  margin-bottom: 0.5rem; }

.card__media {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }
  .card__media img {
    width: 100%; }

.card__footer {
  margin-top: auto; }

.date {
  font-weight: 700; }

details.details {
  margin: 0 0 1.5rem; }
  .js details.details:not([open]) > .details__content {
    display: none; }

.details__summary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/plus.svg");
  background-image: -o-linear-gradient(transparent, transparent), url("../images/plus.svg");
  background-image: linear-gradient(transparent, transparent), url("../images/plus.svg");
  background-color: #f1f1f1;
  background-position: right 1.5rem center;
  background-repeat: no-repeat;
  background-size: 0.65rem;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 1;
  outline: 0;
  padding: 0.75rem 2.75rem 0.75rem 1.5rem; }
  [dir='rtl'] .details__summary {
    background-position: left 1.5rem center;
    padding-left: 2.75rem;
    padding-right: 1.5rem; }
  [open] > .details__summary {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/minus.svg");
    background-image: -o-linear-gradient(transparent, transparent), url("../images/minus.svg");
    background-image: linear-gradient(transparent, transparent), url("../images/minus.svg"); }
  .details__summary:hover {
    background-color: #d6d7d9; }
  .details__summary:focus {
    -webkit-box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
            box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .details__summary::-webkit-details-marker {
    display: none; }

.details__fallback-link {
  color: inherit !important;
  display: block;
  outline: 0;
  text-decoration: none; }

.details__content {
  background: #fff;
  border: 3px solid #f1f1f1;
  border-top: 0;
  padding: 1.5rem; }
  .details__content > :last-child {
    margin-bottom: 0; }

.details__description {
  color: #5b616b;
  font-size: 0.75rem;
  margin-bottom: 1rem; }
  .details__description > :last-child {
    margin-bottom: 0; }

.fieldset {
  margin-bottom: 3rem;
  padding: 0;
  position: relative;
  top: 1.5rem; }

.fieldset__legend {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  left: -1px;
  position: absolute;
  text-indent: 0;
  top: -1.5rem;
  width: 100%; }
  [dir='rtl'] .fieldset__legend {
    left: auto;
    right: -1px; }

.fieldset__legend-text {
  display: block; }

.fieldset__legend-link {
  display: block; }

.fieldset__description {
  color: #5b616b;
  font-size: 0.75rem; }
  .fieldset__description > :last-child {
    margin-bottom: 0; }

.fieldset--default {
  background: #fff;
  border: 1px solid #aeb0b5;
  margin: 1rem 0 1.6rem;
  padding: 0 1em; }
  .fieldset--default .fieldset__legend {
    background: #d6d7d9;
    border: 1px solid #aeb0b5;
    border-bottom: none;
    color: #212121;
    height: 2em;
    line-height: 2;
    padding: 0;
    text-shadow: 0 1px 0 #fff; }
  .fieldset--default .fieldset__legend-text {
    padding-left: 1em; }
    [dir='rtl'] .fieldset--default .fieldset__legend-text {
      padding-left: 0;
      padding-right: 1em; }
  .fieldset--default .fieldset__content {
    margin-top: 2.5em; }
  .fieldset--default .fieldset__description {
    font-style: italic;
    margin: 1rem 0; }

.form-item {
  margin: 0 0 1.5rem; }

.form-item__label {
  display: block;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
  text-transform: uppercase; }
  .is-disabled > .form-item__label {
    color: #5b616b; }

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.form-item__description {
  color: #5b616b;
  font-size: 0.75rem; }
  .form-item__description > :last-child {
    margin-bottom: 0; }

.form-item__required-marker::before {
  content: '*'; }


.form-item__color,
.form-item__date,
.form-item__email,
.form-item__month,
.form-item__number,
.form-item__password,
.form-item__search,
.form-item__select,
.form-item__tel,
.form-item__text,
.form-item__textarea,
.form-item__time,
.form-item__url,
.form-item__week {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #5b616b;
  border-radius: 0;
  display: inline-block;
  font-size: 1rem;
  height: 2.2rem;
  line-height: 1.1;
  padding: 0.5em 0.35em;
  margin: 0.2em 0;
  max-width: 100%; }
  
  .form-item__color:focus,
  .form-item__date:focus,
  .form-item__email:focus,
  .form-item__month:focus,
  .form-item__number:focus,
  .form-item__password:focus,
  .form-item__search:focus,
  .form-item__select:focus,
  .form-item__tel:focus,
  .form-item__text:focus,
  .form-item__textarea:focus,
  .form-item__time:focus,
  .form-item__url:focus,
  .form-item__week:focus {
    -webkit-box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
            box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
    outline: 0; }
  
  .form-item__color:disabled,
  .form-item__date:disabled,
  .form-item__email:disabled,
  .form-item__month:disabled,
  .form-item__number:disabled,
  .form-item__password:disabled,
  .form-item__search:disabled,
  .form-item__select:disabled,
  .form-item__tel:disabled,
  .form-item__text:disabled,
  .form-item__textarea:disabled,
  .form-item__time:disabled,
  .form-item__url:disabled,
  .form-item__week:disabled {
    background: #d6d7d9;
    border-color: #aeb0b5;
    cursor: default; }
  .is-full-width >
  .form-item__color, .is-full-width >
  .form-item__date, .is-full-width >
  .form-item__email, .is-full-width >
  .form-item__month, .is-full-width >
  .form-item__number, .is-full-width >
  .form-item__password, .is-full-width >
  .form-item__search, .is-full-width >
  .form-item__select, .is-full-width >
  .form-item__tel, .is-full-width >
  .form-item__text, .is-full-width >
  .form-item__textarea, .is-full-width >
  .form-item__time, .is-full-width >
  .form-item__url, .is-full-width >
  .form-item__week {
    width: 100%; }

.form-item__textarea {
  height: auto; }

.form-item--checkbox {
  margin-bottom: 0.5em; }

.form-item__checkbox + .form-item__label {
  cursor: pointer;
  display: block; }
  .form-item__checkbox + .form-item__label::before {
    background: #fff;
    border-radius: 0.15rem;
    -webkit-box-shadow: 0 0 0 1px #757575;
            box-shadow: 0 0 0 1px #757575;
    content: '\a0';
    display: inline-block;
    height: 0.9rem;
    line-height: 0.9rem;
    margin-right: 0.6em;
    text-indent: 0.15em;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
    transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    vertical-align: middle;
    width: 0.9rem; }

.form-item__checkbox:checked + .form-item__label::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/correct.svg");
  background-image: -o-linear-gradient(transparent, transparent), url("../images/correct.svg");
  background-image: linear-gradient(transparent, transparent), url("../images/correct.svg");
  background-color: #0071bc;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  -webkit-box-shadow: 0 0 0 1px #0071bc;
          box-shadow: 0 0 0 1px #0071bc; }

.form-item__checkbox:focus + .form-item__label::before {
  -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0071bc, 0 0 3px 4px #3e94cf, 0 0 7px 4px #3e94cf;
          box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0071bc, 0 0 3px 4px #3e94cf, 0 0 7px 4px #3e94cf; }

.form-item__checkbox:checked:disabled + .form-item__label::before {
  background-color: #aeb0b5; }

.form-item__checkbox:disabled + .form-item__label {
  color: #5b616b;
  cursor: default; }
  .form-item__checkbox:disabled + .form-item__label::before {
    background-color: #aeb0b5;
    -webkit-box-shadow: 0 0 0 1px #aeb0b5;
            box-shadow: 0 0 0 1px #aeb0b5;
    cursor: not-allowed; }

.form-item--checkboxes {
  margin-bottom: 0; }

.form-item--radio {
  margin-bottom: 0.5em; }
  .form-item--radio .form-item__radio {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    margin-right: 3px;
    outline: none;
    position: relative;
    top: 2px;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: border-color, border-width;
    -o-transition-property: border-color, border-width;
    transition-property: border-color, border-width;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    width: 16px; }
    .form-item--radio .form-item__radio:checked {
      border: 6px solid #0071bc; }
    .form-item--radio .form-item__radio:disabled {
      border: 2px solid #bbb;
      cursor: default; }
    .form-item--radio .form-item__radio + .form-item__label {
      cursor: pointer;
      display: inline; }
    .form-item--radio .form-item__radio:disabled + .form-item__label {
      color: #bbb;
      cursor: default; }

.form-item--radios {
  margin-bottom: 0; }

.form-item--range .form-item__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  height: 2.2rem;
  margin: 0.2em 0;
  padding: 0; }
  .form-item--range .form-item__range:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0; }
    .form-item--range .form-item__range:focus::-moz-range-thumb {
      box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
    .form-item--range .form-item__range:focus::-ms-thumb {
      box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
    .form-item--range .form-item__range:focus::-webkit-slider-thumb {
      -webkit-box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
              box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .form-item--range .form-item__range:disabled {
    cursor: default; }
    .form-item--range .form-item__range:disabled::-moz-range-thumb {
      background: #d6d7d9;
      border-color: #aeb0b5;
      cursor: default; }
    .form-item--range .form-item__range:disabled::-moz-range-track {
      background: #d6d7d9;
      border-color: #aeb0b5;
      cursor: default; }
    .form-item--range .form-item__range:disabled::-ms-thumb {
      background: #d6d7d9;
      border-color: #aeb0b5;
      cursor: default; }
    .form-item--range .form-item__range:disabled::-ms-fill-lower, .form-item--range .form-item__range:disabled::-ms-fill-upper {
      background: #d6d7d9;
      border-color: #aeb0b5;
      cursor: default; }
    .form-item--range .form-item__range:disabled::-webkit-slider-thumb {
      background: #d6d7d9;
      border-color: #aeb0b5;
      cursor: default; }
    .form-item--range .form-item__range:disabled::webkit-slider-runnable-track {
      background: #d6d7d9;
      border-color: #aeb0b5;
      cursor: default; }
  .form-item--range .form-item__range::-moz-range-thumb {
    background: #757575;
    border: 1px solid #f1f1f1;
    border-radius: 0.15rem;
    cursor: pointer;
    height: 2.2rem;
    outline: 0;
    width: 1.1rem; }
  .form-item--range .form-item__range::-moz-range-track {
    background: #aeb0b5;
    border: 1px solid #757575;
    cursor: pointer;
    display: block;
    height: 0.5rem;
    margin: 0;
    outline: 0;
    width: 100%; }
  .form-item--range .form-item__range::-ms-thumb {
    background: #757575;
    border: 1px solid #f1f1f1;
    border-radius: 0.15rem;
    cursor: pointer;
    height: 2.2rem;
    outline: 0;
    width: 1.1rem;
    margin-top: 0 !important; }
  .form-item--range .form-item__range::-ms-track {
    background: #aeb0b5;
    border: 1px solid #757575;
    cursor: pointer;
    display: block;
    height: 0.5rem;
    margin: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    border: 0;
    color: transparent; }
  .form-item--range .form-item__range::-ms-fill-lower, .form-item--range .form-item__range::-ms-fill-upper {
    background: #aeb0b5;
    border: 1px solid #757575; }
  .form-item--range .form-item__range::-webkit-slider-thumb {
    background: #757575;
    border: 1px solid #f1f1f1;
    border-radius: 0.15rem;
    cursor: pointer;
    height: 2.2rem;
    outline: 0;
    width: 1.1rem;
    -webkit-appearance: none;
    margin-top: -0.9rem; }
  .form-item--range .form-item__range::-webkit-slider-runnable-track {
    background: #aeb0b5;
    border: 1px solid #757575;
    cursor: pointer;
    display: block;
    height: 0.5rem;
    margin: 0;
    outline: 0;
    width: 100%; }

.form-item--range.is-full-width > .form-item__range {
  width: 100%; }

.form-item--select .form-item__select {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/arrow-down.svg");
  background-image: -o-linear-gradient(transparent, transparent), url("../images/arrow-down.svg");
  background-image: linear-gradient(transparent, transparent), url("../images/arrow-down.svg");
  background-position: right 0.65rem center;
  background-repeat: no-repeat;
  background-size: 0.65rem;
  padding-right: 1.65rem; }
  [dir='rtl'] .form-item--select .form-item__select {
    background-position: left 0.65rem center;
    padding-left: 1.65rem;
    padding-right: 0; }
  .form-item--select .form-item__select::-ms-expand {
    display: none; }

.gallery__item-caption {
  max-width: 100%; }

.hero-bg-image {
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  padding: 4em 1em;
  text-align: center; }
  .hero-bg-image.has-overlay {
    position: relative; }
    .hero-bg-image.has-overlay:after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1; }
    .hero-bg-image.has-overlay .hero-bg-image__content {
      position: relative;
      z-index: 2; }

.hero-bg-image__title {
  margin-bottom: 0.25em; }

.hero-inline-image {
  color: #fff;
  padding: 0;
  position: relative;
  text-align: center; }
  .hero-inline-image.has-overlay:after {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  .hero-inline-image.has-overlay .hero-inline-image__content {
    z-index: 2; }

.hero-inline-image__title {
  margin-bottom: 0.25em; }

.hero-inline-image__media {
  display: block;
  line-height: 0; }
  .hero-inline-image__media img, .hero-inline-image__media picture {
    width: 100%; }

.hero-inline-image__content {
  background: rgba(0, 0, 0, 0.5);
  bottom: 5%;
  padding: 1em;
  position: absolute;
  right: 5%; }

.image-teaser img {
  max-width: 100px; }

.image-teaser__title {
  color: #330000;
  font-size: 21px;
  margin-bottom: 0px; }

.image-teaser__summary {
  color: #000;
  font-size: 21px; }

.list--border {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .list--border > li {
    border-bottom: 1px solid #ccc;
    padding: 0.25rem; }

.list--clean {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list--clean li::before {
    display: none; }

.list--column {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  @media (min-width: 31.25em) {
    .list--column {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 2em;
         -moz-column-gap: 2em;
              column-gap: 2em; } }
  .list--column > li {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid-column;
    display: table;
    margin-bottom: 0;
    padding-bottom: 0.25em; }

.list--inline {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  .list--inline > li {
    display: inline; }

.list--pipeline {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  .list--pipeline::after {
    clear: both;
    content: '';
    display: table; }
  .list--pipeline > li {
    border-right: 1px solid #d6d7d9;
    display: block;
    float: left;
    margin-right: 0.75em;
    padding-right: 0.75em; }
    [dir='rtl'] .list--pipeline > li {
      border-left: 1px solid #d6d7d9;
      border-right: 0;
      float: right;
      margin-left: 0.75em;
      margin-right: 0;
      padding-left: 0.75em;
      padding-right: 0; }
    .list--pipeline > li.is-active {
      font-weight: bold; }
    .list--pipeline > li:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0; }
      [dir='rtl'] .list--pipeline > li:last-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0; }

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .menu li::before {
    display: none; }
  @media print {
    .menu {
      display: none; } }

.menu__item {
  margin-bottom: 0; }

.menu--account {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  .menu--account::after {
    clear: both;
    content: '';
    display: table; }
  .menu--account > li {
    border-right: 1px solid #d6d7d9;
    display: block;
    float: left;
    margin-right: 0.75em;
    padding-right: 0.75em; }
    [dir='rtl'] .menu--account > li {
      border-left: 1px solid #d6d7d9;
      border-right: 0;
      float: right;
      margin-left: 0.75em;
      margin-right: 0;
      padding-left: 0.75em;
      padding-right: 0; }
    .menu--account > li.is-active {
      font-weight: bold; }
    .menu--account > li:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0; }
      [dir='rtl'] .menu--account > li:last-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0; }
  .menu--account .menu__link {
    font-size: 0.75em; }

.menu--footer {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  .menu--footer > li {
    display: inline; }

.menu--main {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu--main > li {
    display: inline; }
  .menu--main .menu__item {
    color: #fff;
    margin-right: 10px; }
    .menu--main .menu__item::after {
      content: '/';
      color: #ccc; }
    .menu--main .menu__item.last::after {
      display: none; }
  .menu--main .menu__link {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none; }
    .menu--main .menu__link:hover, .menu--main .menu__link:focus {
      text-decoration: underline; }

.l-header {
  float: right; }
  @media (min-width: 37.5em) {
    .l-header {
      float: none; } }

.mobile-menu {
  float: left; }
  @media (min-width: 37.5em) {
    .mobile-menu {
      float: none; } }

.main {
  clear: both; }

.menu--mobile {
  margin: 0.75em 0 0 0; }
  .menu--mobile .menu__item {
    margin: 0;
    padding: 0; }
  .menu--mobile .menu__link {
    background-color: transparent;
    border: 0;
    color: #555559;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: 0.5972222222em 1.25em;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: auto;
    z-index: 3; }
    .menu--mobile .menu__link:focus, .menu--mobile .menu__link:hover, .menu--mobile .menu__link:active, .menu--mobile .menu__link.is-active {
      color: #000; }
  .menu--mobile .menu__item--parent {
    position: relative; }
    .menu--mobile .menu__item--parent.is-open {
      background: #fff;
      background: rgba(255, 255, 255, 0.98); }
    .menu--mobile .menu__item--parent > .menu__link {
      display: inline-block; }
  .menu--mobile .menu__subnav-arrow {
    background: none;
    height: 44px;
    overflow: hidden;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2212%22%20viewBox%3D%220%200%2019%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%238e8e8e%22%20d%3D%22M2.3%200l7.5%207.5%207.5-7.5%202.3%202.3-9.7%209.7-9.7-9.7%202.3-2.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
    background-image: -o-linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2212%22%20viewBox%3D%220%200%2019%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%238e8e8e%22%20d%3D%22M2.3%200l7.5%207.5%207.5-7.5%202.3%202.3-9.7%209.7-9.7-9.7%202.3-2.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2212%22%20viewBox%3D%220%200%2019%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%238e8e8e%22%20d%3D%22M2.3%200l7.5%207.5%207.5-7.5%202.3%202.3-9.7%209.7-9.7-9.7%202.3-2.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 19px 12px;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 2.2em;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    z-index: 2; }
    .menu--mobile .menu__subnav-arrow::before {
      content: '';
      display: block;
      height: 150%;
      width: 0; }
    .menu--mobile .menu__subnav-arrow:focus {
      outline: thin dotted; }
    .menu--mobile .menu__subnav-arrow.is-active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2212%22%20viewBox%3D%220%200%2019%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%238e8e8e%22%20d%3D%22M2.3%2012l7.5-7.5%207.5%207.5%202.3-2.3-9.7-9.7-9.7%209.7%202.3%202.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
      background-image: -o-linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2212%22%20viewBox%3D%220%200%2019%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%238e8e8e%22%20d%3D%22M2.3%2012l7.5-7.5%207.5%207.5%202.3-2.3-9.7-9.7-9.7%209.7%202.3%202.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
      background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2212%22%20viewBox%3D%220%200%2019%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%238e8e8e%22%20d%3D%22M2.3%2012l7.5-7.5%207.5%207.5%202.3-2.3-9.7-9.7-9.7%209.7%202.3%202.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E'); }
    [dir='rtl'] .menu--mobile .menu__subnav-arrow {
      left: 0;
      right: auto; }
  .menu--mobile .menu__subnav {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu--mobile .menu__subnav .menu__link {
      color: #555559;
      padding-left: 2em; }
      .menu--mobile .menu__subnav .menu__link:focus, .menu--mobile .menu__subnav .menu__link:hover, .menu--mobile .menu__subnav .menu__link:active {
        color: #000; }

.messages {
  background-color: #ecf6fa;
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat;
  background-size: 2em;
  border: 1px solid #bcdeee;
  color: #424242;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 1em;
  position: relative;
  word-wrap: break-word; }
  .messages::before {
    background-repeat: no-repeat;
    background-size: 2.6em;
    bottom: -.5em;
    content: '';
    display: block;
    height: 2.6em;
    position: absolute;
    right: -.5em;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    width: 2.6em; }
  .messages a {
    color: #bcdeee;
    font-weight: 600;
    text-decoration: underline; }
  @media print {
    .messages {
      background-image: none !important; } }

.messages__content > *:last-child {
  margin-bottom: 0; }

.messages--status {
  background-color: #eff8e6;
  border-color: #c9e8a9; }
  .messages--status::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/messages-status.svg");
    background-image: -o-linear-gradient(transparent, transparent), url("../images/messages-status.svg");
    background-image: linear-gradient(transparent, transparent), url("../images/messages-status.svg"); }
  .messages--status a {
    color: #71b02f; }

.messages--error {
  background-color: #ffe6e5;
  border-color: #ffc5c2; }
  .messages--error::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/messages-error.svg");
    background-image: -o-linear-gradient(transparent, transparent), url("../images/messages-error.svg");
    background-image: linear-gradient(transparent, transparent), url("../images/messages-error.svg"); }
  .messages--error a {
    color: #ff645c; }
  .messages--error .messages__item em:first-child {
    font-style: normal;
    font-weight: bold; }

.messages--warning {
  background-color: #fcf8e3;
  border-color: #faf2cc; }
  .messages--warning::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../images/messages-warning.svg");
    background-image: -o-linear-gradient(transparent, transparent), url("../images/messages-warning.svg");
    background-image: linear-gradient(transparent, transparent), url("../images/messages-warning.svg"); }
  .messages--warning a {
    color: #8a6d3b; }

@media (min-width: 43.75em) {
  .mobile-menu {
    display: none; } }

.mobile-menu__bar {
  background-color: #330000;
  color: #555559;
  height: 2.75em;
  text-align: center; }

.mobile-menu__button {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 0;
  color: #555559;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.75em;
  line-height: 2.75em;
  margin: 0;
  padding: 0 1em;
  text-decoration: none; }
  .mobile-menu__button:focus {
    outline: thin dotted; }

.mobile-menu__button--menu {
  float: left; }

.mobile-menu__button--search {
  border-left: 1px solid #dadada;
  float: right; }

.mobile-menu__icon {
  height: 22px;
  overflow: hidden;
  width: 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  margin-top: 1em; }
  .mobile-menu__icon::before {
    content: '';
    display: block;
    height: 150%;
    width: 0; }

.is-active .mobile-menu__icon--menu, .is-active .mobile-menu__icon--search {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M21.9%202.2l-2.2-2.2-8.8%208.8-8.8-8.8-2.2%202.2%208.8%208.8-8.8%208.8%202.2%202.2%208.8-8.8%208.8%208.8%202.2-2.2-8.8-8.8%208.8-8.8z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-image: -o-linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M21.9%202.2l-2.2-2.2-8.8%208.8-8.8-8.8-2.2%202.2%208.8%208.8-8.8%208.8%202.2%202.2%208.8-8.8%208.8%208.8%202.2-2.2-8.8-8.8%208.8-8.8z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M21.9%202.2l-2.2-2.2-8.8%208.8-8.8-8.8-2.2%202.2%208.8%208.8-8.8%208.8%202.2%202.2%208.8-8.8%208.8%208.8%202.2-2.2-8.8-8.8%208.8-8.8z%22%2F%3E%0D%0A%3C%2Fsvg%3E'); }

.mobile-menu__icon--menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2233%22%20height%3D%2222%22%20viewBox%3D%220%200%2033%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M0%2022h33.1v-3.7h-33.1v3.7zM0%2012.8h33.1v-3.7h-33.1v3.7zM0%200v3.7h33.1v-3.7h-33.1z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-image: -o-linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2233%22%20height%3D%2222%22%20viewBox%3D%220%200%2033%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M0%2022h33.1v-3.7h-33.1v3.7zM0%2012.8h33.1v-3.7h-33.1v3.7zM0%200v3.7h33.1v-3.7h-33.1z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2233%22%20height%3D%2222%22%20viewBox%3D%220%200%2033%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M0%2022h33.1v-3.7h-33.1v3.7zM0%2012.8h33.1v-3.7h-33.1v3.7zM0%200v3.7h33.1v-3.7h-33.1z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-size: 33px 22px;
  width: 33px; }
  .is-active .mobile-menu__icon--menu {
    background-size: 22px 22px; }

.mobile-menu__icon--search {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23555559%22%20d%3D%22M21.3%2018.7l-5.2-4.4c-0.5-0.5-1.1-0.7-1.6-0.7%201.2-1.4%202-3.3%202-5.4%200-4.6-3.7-8.2-8.2-8.2s-8.2%203.7-8.2%208.3%203.7%208.3%208.3%208.3c2%200%203.9-0.7%205.4-2%200%200.5%200.2%201%200.7%201.6l4.4%205.2c0.8%200.8%202%200.9%202.8%200.2s0.7-2-0.2-2.8zM8.3%2013.8c-3%200-5.5-2.5-5.5-5.5s2.5-5.5%205.5-5.5%205.5%202.5%205.5%205.5-2.5%205.5-5.5%205.5z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-image: -o-linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23555559%22%20d%3D%22M21.3%2018.7l-5.2-4.4c-0.5-0.5-1.1-0.7-1.6-0.7%201.2-1.4%202-3.3%202-5.4%200-4.6-3.7-8.2-8.2-8.2s-8.2%203.7-8.2%208.3%203.7%208.3%208.3%208.3c2%200%203.9-0.7%205.4-2%200%200.5%200.2%201%200.7%201.6l4.4%205.2c0.8%200.8%202%200.9%202.8%200.2s0.7-2-0.2-2.8zM8.3%2013.8c-3%200-5.5-2.5-5.5-5.5s2.5-5.5%205.5-5.5%205.5%202.5%205.5%205.5-2.5%205.5-5.5%205.5z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20fill%3D%22%23555559%22%20d%3D%22M21.3%2018.7l-5.2-4.4c-0.5-0.5-1.1-0.7-1.6-0.7%201.2-1.4%202-3.3%202-5.4%200-4.6-3.7-8.2-8.2-8.2s-8.2%203.7-8.2%208.3%203.7%208.3%208.3%208.3c2%200%203.9-0.7%205.4-2%200%200.5%200.2%201%200.7%201.6l4.4%205.2c0.8%200.8%202%200.9%202.8%200.2s0.7-2-0.2-2.8zM8.3%2013.8c-3%200-5.5-2.5-5.5-5.5s2.5-5.5%205.5-5.5%205.5%202.5%205.5%205.5-2.5%205.5-5.5%205.5z%22%2F%3E%0D%0A%3C%2Fsvg%3E'); }

.mobile-menu__links {
  background-color: #f3f3f3;
  background-color: #330000;
  color: #555559;
  position: absolute;
  width: 100%;
  z-index: 100; }

.mobile-menu__search {
  display: none;
  padding: 0.5em; }
  .mobile-menu__search form,
  .mobile-menu__search .form-item,
  .mobile-menu__search .form-text {
    width: 100%; }
  .mobile-menu__search .form-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.page-title {
  color: #fff; }

.single-get_involved .page-title {
  color: #000; }

.pager__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
  margin: 2em 0;
  padding: 0;
  text-align: center; }
  .pager__items li::before {
    display: none; }

.pager__item {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top; }
  .pager__item:not([class*=pager__item--]) {
    display: none; }
    @media (min-width: 37.5em) {
      .pager__item:not([class*=pager__item--]) {
        display: inline-block; } }

.pager__item--current, .pager__link {
  background-color: #f1f1f1;
  color: #212121;
  min-width: 2.2rem;
  padding: 0.65em; }

.pager__item--current {
  background-color: #d6d7d9; }

.pager__link {
  display: inline-block;
  text-decoration: none; }
  .pager__link:focus, .pager__link:hover {
    background-color: #d6d7d9;
    color: inherit; }

.progress {
  position: relative; }

.progress__track {
  background-color: #aeb0b5;
  border: 1px solid #5b616b;
  border-radius: 0.15rem;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  height: 1rem;
  margin: 0.2em 0;
  max-width: 100%;
  min-width: 6em;
  overflow: hidden; }

.progress__bar {
  background-color: #330000;
  border-radius: 0.15rem;
  height: 1rem;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 3%; }

.progress__description,
.progress__percentage {
  color: #5b616b;
  font-size: 0.65rem;
  overflow: hidden; }

.progress__description {
  float: left; }
  [dir='rtl'] .progress__description {
    float: right; }

.progress__percentage {
  float: right; }
  [dir='rtl'] .progress__percentage {
    float: left; }

.searchform__input {
  height: 46px;
  padding-left: 5px; }

.site-logo {
  max-width: 400px;
  padding-bottom: 20px;
  padding-top: 20px; }

.site-name {
  color: #ccc;
  padding: 20px 0px;
  text-decoration: none; }
  .site-name:hover, .site-name:focus {
    color: #ccc; }

.site-name__text {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px; }
  .site-name__text span {
    color: #fff; }
  @media (min-width: 37.5em) {
    .site-name__text {
      font-size: 24px; } }

.story-toolbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 40px; }
  .story-toolbar h2 {
    color: #fff;
    margin-bottom: 0px; }
  .story-toolbar .story-toolbar__button a {
    margin-bottom: 0px; }

.tabs::after {
  clear: both;
  content: '';
  display: table; }

.tabs__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .tabs__items li::before {
    display: none; }
  @media (min-width: 37.5em) {
    .tabs__items {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media print {
    .tabs__items {
      display: none; } }

.tabs__item:first-child .tabs__link {
  border-bottom-left-radius: 0.15rem;
  border-left: 0;
  border-top-left-radius: 0.15rem; }

.tabs__item:last-child .tabs__link {
  border-bottom-right-radius: 0.15rem;
  border-top-right-radius: 0.15rem; }

.tabs__link {
  background-color: #d6d7d9;
  border: 1px solid #330000;
  border-radius: 0;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: 0.6rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: normal;
  border-left: 1px solid #aeb0b5;
  display: block;
  font-size: 0.75rem;
  line-height: 1.1333333333;
  margin: 0;
  padding: 0.4rem 0.8rem; }
  .tabs__link:focus, .tabs__link:hover {
    background-color: #aeb0b5;
    border: 1px solid #330000;
    color: #212121;
    outline: 0;
    text-decoration: none; }
  .tabs__link:active {
    background-color: #212121;
    color: #fff; }
  .tabs__link[disabled] {
    background-color: #d6d7d9;
    color: #323a45;
    cursor: default;
    pointer-events: none; }
  .tabs__link:active {
    background-color: #212121;
    color: #fff; }
  .tabs__link:focus {
    background-color: #aeb0b5; }
  .tabs__link:hover, .tabs__link:visited {
    color: #212121; }
  .tabs__link.is-active {
    background-color: #212121;
    color: #fff; }
    .tabs__link.is-active:hover {
      color: #fff; }

.clearfix::after {
  clear: both !important;
  content: '' !important;
  display: table !important; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  word-wrap: normal !important; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

.skiplinks {
  left: 50%;
  margin-left: -7em;
  position: absolute;
  width: 14em;
  z-index: 9999; }

.skiplinks__link,
.skiplinks__link:visited,
.skiplinks__link:focus {
  background-color: #333;
  border: 2px solid #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: #eee;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  padding: 0.25em 0.5em;
  text-align: center;
  text-decoration: none;
  width: 14em; }

#main:focus {
  outline: 0; }
/*# sourceMappingURL=styles.css.map */