// @file
// Styles for the mobile menu.

$menu-mobile-menu-text-color: #555559 !default;
$menu-mobile-menu-hover-color: #000 !default;
$menu-mobile-submenu-fallback-bg-color: #fff !default;
$menu-mobile-submenu-bg-color: rgba(255, 255, 255, 0.98) !default;
$menu-mobile-submenu-text-color: #555559 !default;
$menu-mobile-submenu-hover-color: #000 !default;

.l-header  {
  float: right;
  @include breakpoint($bp-small) {
    float: none;
  }
}

.mobile-menu {
  float:  left;
  @include breakpoint($bp-small) {
    float: none;
  }
}

.main {
  clear: both;
}

.menu--mobile {
  margin: 0.75em 0 0 0;

  .menu__item {
    margin: 0;
    padding: 0;
  }

  .menu__link {
    @extend %system-font-family;
    background-color: transparent;
    border: 0;
    color: $menu-mobile-menu-text-color;
    display: block;
    font-size: em(18px);
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: em(10.75px, 18px) 1.25em;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: auto;
    z-index: 3;

    &:focus,
    &:hover,
    &:active,
    &.is-active {
      color: $menu-mobile-menu-hover-color;
    }
  }

  .menu__item--parent {
    position: relative;

    &.is-open {
      background: $menu-mobile-submenu-fallback-bg-color;
      background: $menu-mobile-submenu-bg-color;
    }

    > .menu__link {
      display: inline-block;
    }
  }

  .menu__subnav-arrow {
    background: none;
    @include image-replace(100%, 44px);
    @include svg-background-inline(mobile-arrow-down);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 19px 12px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: em(44px);
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    z-index: 2;

    &:focus {
      outline: thin dotted;
    }

    &.is-active {
      @include svg-background-inline(mobile-arrow-up);
    }

    @if $support-for-rtl {
      [dir='rtl'] & {
        left: 0;
        right: auto;
      }
    }
  }

  .menu__subnav {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    .menu__item {}

    .menu__link {
      color: $menu-mobile-submenu-text-color;
      padding-left: 2em;

      &:focus,
      &:hover,
      &:active {
        color: $menu-mobile-submenu-hover-color;
      }
    }
  }
}
