// @file
// Styles for the Sidebar Layout.

$l-sidebar-bp: 1020px;
$l-sidebar-width: 500px;
$l-sidebar-minor-width: $l-sidebar-width;
$l-sidebar-gutter: 1rem;

.l-sidebar {
  .l-sidebar__sidebar {
    background-color: #dcd2c7;
  }
  @include breakpoint($l-sidebar-bp) {
    display: flex;
    flex-direction: row-reverse;

    > * {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(100% - #{$l-sidebar-width} - #{$l-sidebar-gutter * 2});
    }

    .l-sidebar__main {
      max-width: calc(100% - #{$l-sidebar-width} - #{$l-sidebar-gutter * 2});
    }

    .l-sidebar__full {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      margin-right: 0;
    }

    .l-sidebar__main {
      padding: 0px;
    }

    .l-sidebar__sidebar {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: #{$l-sidebar-width};
      padding: 30px;
      min-height: calc(100vh - 71px);
    }
  }
}

.archive,
.search {
  .l-sidebar__main {
    background-color: #fff;
  }
}

.sidebar-title {
  background-color: #330000;
  color: #fff;
  display: inline-block;
  font-family: $header-font-family-secondary;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 5px; 
}

.l-sidebar--multi-2 {
  @include breakpoint($l-sidebar-bp) {
    > * {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(100% - #{$l-sidebar-width + $l-sidebar-minor-width} - #{$l-sidebar-gutter * 3});
    }

    @supports(display:grid) {
      grid-template-columns: $l-sidebar-minor-width 1fr $l-sidebar-width;

      .l-sidebar__full {
        grid-column: span 3;
      }
    }
  }
}
