{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/front-page.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_main %}
      <div class="frontpage__content sticky" data-sticky-class="sticky-active" data-sticky-for="1320">
      	<h2 class="story-title">Stories from the archive</h2>
      	<div class="swiper-container">
      		<div class="swiper-wrapper">
		      	{% for story in stories %}
		      	  <div class="swiper-slide">
                <div class="swiper-slide__image">
                  <img src="{{ story.thumbnail.src }}" alt="{{ story.thumbnail.alt }}"/>
                </div>
                <div class="swiper-slide__content">
		      	  	  <h3 class="swiper-title">{{ story.post_title }}</h3>
		      	  	  <a href="{{ story.link }}" class="button swiper-button">View Story</a>
                </div>
		      	  </div>
		      	{% endfor %}
		      </div>
		      <div class="swiper-button-prev"></div>
		      <div class="swiper-button-next"></div>
		      <div class="swiper-pagination"></div>
	      </div>
      </div>
    {% endblock %}
    {% block sidebar_aside %}
   	  <p class="fontpage__intro">{{ post.homepage_intro }}</p>
   	  <hr/>
      <div class="frontpage__blurb">{{ post.homepage_blurb }}</div>
      <hr/>
   	  <h2 class="sidebar-title">Starting Points</h2>
      <div class="get-involved__content">
   	    {% for item in get_involved %}
          {% set image = Image(item.thumbnail) %}
   	      <div class="get-involved__item">
            <div class="get-involved--image">
              <a href="{{ item.link }}"><img src="{{ image.src }}" alt="{{ image.alt }}"/></a>
            </div>
   	        <h3><a href="{{ item.link }}">{{ item.post_title }}</a></h3>
   	      </div>
   	    {% endfor %}
        </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
