{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/single.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_aside %}
      <div class="back-button"><a href="{{ referer }}">< Go Back</a></div>
      <div class="l-constrain">
        <div class="single-archive-sidebar__content">
    	    <h2 class="single-archive__title">{{ post.title }}</h2>
          <label class="form-item__label">Description</label>
          <div class="single-archive-description">{{ post.preview.read_more(false) }}</div>
          <label class="form-item__label">Topics</label>
          <div class="single-archive__topics">
            {% set topics = post.terms('topic') %}
            {% for topic in topics %}
              <a href="/archive/?_topic={{ topic.slug }}">{{ topic }}</a>
            {% endfor %}
          </div>
          <label class="form-item__label">Provenace</label>
          <div class="single-archive__provenance">
            <div class="single-archive__collection"><span>Collection:</span> <a href="{{ collection_slug }}">{{ collection_title }}</a></div>
            {% if post.archive_original_filename %}
              <div><span>Original Filename:</span> {{ post.archive_original_filename }}</div>
            {% endif %}
            {% if post.archive_author %}
              <div class="single-archive__author"><span>Original Author:</span> {{ post.archive_author }}</div>
            {% endif %}
            {% if post.archive_file_date %}
              <div><span>Original Date Created:</span> {{ post.archive_file_date|date('F j, Y') }}</div>
            {% endif %}
          </div>
          <label class="form-item__label">Additional Metadata</label>
          <div class="single-archive__metadata">
            <div class="single-archive__type"><span>Type:</span> {{ post.terms('file_type')[0] }}</div>
            <div><span>Language</span> {{ post.archive_language }}</div>
          </div>
      </div>

      </div>
    {% endblock %}
    {% block sidebar_main %}
      {% if function( 'get_post_format' ) %}
        {% include 'post-formats/content-' ~ function( 'get_post_format' ) ~ '.twig' %}
      {% else %}
        {% include 'post-formats/content.twig' %}
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
