{% extends 'base.twig' %}

{% block content %}
	<!-- Provided by templates/taxonomy.twig -->
	{% embed '@layouts/sidebar/sidebar.twig' %}
	  {% block sidebar_aside %}
	      <div class="taxonomy-info">
	        <h1>{{ title }}</h1>
	        <div class="story-link">
	       		{% for item in story %}
	        	<img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}"/>
	        	<a href="{{ item.link }}" class="button story-collection-link">View Story</a>
	       		{% endfor %}
	        </div>
	        <div class="collection-summary">
	        	<label class="form-item__label">Collection Overview</label>
	        	{% if term.description %}
	        	  <p><span>Description: </span>{{ term.description }}</p>
	        	{% endif %}
	        	<p><span>Number of items: </span>{{ post_count }}</p>
	        </div>
	      </div>
	  {% endblock %}
	  {% block sidebar_main %}
	  	<div class="archive-results">
	        {% include '@components/taxonomy-toolbar/taxonomy-toolbar.twig' %}
	        <div id="cbp-vm" class="facetwp-template cbp-vm-view-grid">
				  {% include 'templates/components/archive-loop.twig' %}
	        </div>
	        {% include '@components/pager/pager.twig' %}
		</div>
	  {% endblock %}
	{% endembed %}
{% endblock %}
